# My First Blog Post (Need Better Title)

I'm starting a blog based on advice from two books I've been reading, *Designing Your Life* by Bill Burnett and Dave Evans and "Big Magic" by Elizabeth Gilbert. In Designing Your Life, the authors encourage readers to prototype their passions and take exploratory steps to finding work they enjoy. In Big Magic, Gilbert inspires readers not to be afraid of their creativity, but instead asks "do you have the courage to seek the treasures inside of you?"  This is my first step.  

For years, I've thought being a data scientist would be an amazing job.  I would explore unique data sets and discover amazing insights that only I would be able to find.  I was initiatial inspired by some of the more "pop culture" centered posts on Nate Silver's 538.  While the political and sports analysis was okay, what I found interesting was more relaxed blog posts on the [worst board games invented](https://fivethirtyeight.com/features/the-worst-board-games-ever-invented/) or the 5 different types of [Nicolas Cage Movies](https://fivethirtyeight.com/features/the-five-types-of-nicolas-cage-movies/).

While this shifted my dream from data scientist to data driven story teller, I still didn't have a plan. I'd take some free online courses, take notes, and then, stop.  I told myself once I knew a litle more, or once I finished another class, I'd be ready to make my first real step.  But really, I was scared.  I felt like I could do a little bit of data analysis, but I would never be able to do anything "real."

But that stops today with this blog.  I'm starting this blog to hold myself accountable in becoming a data driven story teller.  The best way to learn something is to be able to explain and teach it.  I might not be right all the time in my explanations, but I have to start somewhere. 

One of the reasons I didn't do well in the past (besides fear) is because I stayed within predefined tutorials on topics I didn't find interesting.  Not only did the tutorials limit my growth by providing scaffolds for getting code up and running, but I'd lose focus on data sets I didn't care about.  So now, I'm going to take Gilbert's advice and explore topics I'm curious about.

## My First Topic

Right now, I'm interested in Dungeons and Dragons.  I think it is fascinating how the narrative develops between the players and the Dungeon Master and how anything is possible.  In particular, I've been watching Matt Colville's "[Running the Game](https://www.youtube.com/channel/UCkVdb9Yr8fc05_VbAVfskCA)" and have been impressed in how he develops his stories or how he gives his players little pushes if they need them.


For example, in one of his first episodes, if players are hesitant to save the blacksmith's kidnapped son from goblins, Matt recommended to have an eldery grandmother with a walking stick volunteer to go on the rescue mission.  Chances are the players will feel enough shame, that they will go instead.  This is brilliant.  The players still have free choice, but Matt provides a helpful nudge to help get the adventure started.  
 
So if I'm interested in D&D and data analysis, by combining the two I can make sure I stay engaged.

To start off, I created a python script that generates random ability stats (strength, dexterity, etc.) for a 5th edition D&D characters using three different methodologies including:
* Summing 3d6 (Read as: rolling a 6 sided die 3 times)
* Summing 4d6 dropping the lowest value
* Summing 4d6 dropping the lowest value and two statistics are greater than or equal to 15 (Colville Method)

Matt says he likes his method because it helps players discover their characters.  Maybe the player wasn't sure what type of character to play but seeing high scores ability scores in strength but low scores in intellegence pushes them towards a Barbarian.  But because his methodology requires having at least two stats greater than 15 ensures, that their is something about the character that makes them unique.

So now that I have a generated a bunch of data reflecting different character creation methodologies, the question is, how much better are Matt's generated characters than the other methods?  This is a just a starting point as I can explore other questions like: 
* What is the correlation between stats (holding RollType constant)? It should be near zero, but can I confirm?
* How about correlation between ability and ability modifier? 
* Who was the strongest character generated? The weakest?

But before I get into questions describing the data, I need to crawl before I can walk.  This blog post will focus on the beginning steps including loading and indexing the data. 

## Reading & Indexing Data

In [2]:
# import functions
import pandas as pd

In [3]:
#read in data frame
df = pd.read_csv('1000CharSimulated20seed.csv', index_col=0) #Setting index_col at 0 cleans up the data frame

In [4]:
#confirm data frame looks okay at the using the head method
df.head()

,RollType,strength,dexterity,constituion,intellegence,wisdom,charisma,str mod,dex mod,con mod,int mod,wis mod,char mod
0,3D6,14,15,9,7,6,9,2,2,-1,-2,-2,-1
1,3D6,13,7,15,8,15,7,1,-2,2,-1,2,-2
2,3D6,8,4,11,12,10,5,-1,-3,0,1,0,-3
3,3D6,10,8,12,8,15,15,0,-1,1,-1,2,2
4,3D6,11,11,12,9,12,8,0,0,1,-1,1,-1

In [5]:
#confirm data frame looks at the end using the tail method
df.tail(6)

,RollType,strength,dexterity,constituion,intellegence,wisdom,charisma,str mod,dex mod,con mod,int mod,wis mod,char mod
2994,Colville,13,9,12,14,18,17,1,-1,1,2,4,3
2995,Colville,13,17,16,15,11,12,1,3,3,2,0,1
2996,Colville,15,15,8,14,9,10,2,2,-1,2,-1,0
2997,Colville,9,15,11,14,12,15,-1,2,0,2,1,2
2998,Colville,15,8,16,10,10,13,2,-1,3,0,0,1
2999,Colville,10,16,18,14,12,14,0,3,4,2,1,2

In [6]:
#take a random sample of the data frame, specifying how many data points you want
df.sample(10)

,RollType,strength,dexterity,constituion,intellegence,wisdom,charisma,str mod,dex mod,con mod,int mod,wis mod,char mod
1332,4D6DropLow,11,11,10,13,11,15,0,0,0,1,0,2
1795,4D6DropLow,13,16,15,10,12,13,1,3,2,0,1,1
798,3D6,12,5,8,7,9,13,1,-3,-1,-2,-1,1
1657,4D6DropLow,13,12,18,10,12,13,1,1,4,0,1,1
2307,Colville,7,14,15,16,11,10,-2,2,2,3,0,0
1238,4D6DropLow,11,14,11,11,15,14,0,2,0,0,2,2
2882,Colville,11,18,12,11,16,10,0,4,1,0,3,0
1927,4D6DropLow,9,14,14,10,13,12,-1,2,2,0,1,1
1693,4D6DropLow,13,11,10,11,14,12,1,0,0,0,2,1
480,3D6,10,9,10,8,10,8,0,-1,0,-1,0,-1

# Indexing

To some extent, one of the reasons I've struggled retaining what I've learned in python is my confusion over indexing (aka the selction of different value) syntax.  I never remember which comes first, rows or columns which leads to confusion and my code not working how I want it to.  So I'm going to explore three different ways of sampling a pandas data frame.  
* bracket based indexing
* .iloc - integer based indexing
* .loc - label based indexing

Let's focus on the bracket method first.

In [7]:
#selecting the first 'strengh' column 
df['strength']

#selecting the strength, constitution, and wisdom column
df[ ['strength','constituion','wisdom'] ]

#the above is why I have gotten tripped up with indexing in the past.  I find the double brackets confusing. 

#the below throws an error
#df['strength','constituion','wisdom'] 

#to the best of my knowledge, column indexing only accepts one input, even if that input has multiple values.  In this case
# we pass a list of the columns we want, which then goes inside the index brackets.

      strength  constituion  wisdom
0           14            9       6
1           13           15      15
2            8           11      10
3           10           12      15
4           11           12      12
5            8            5      16
6            9            5       7
7           10           16      17
8            8            6      11
9            7            8      11
10           8            9       9
11          13           11      10
12          11            9      11
13          12           11       6
14           7            9       8
15          10           14       9
16          11            8      13
17          17           12      12
18          10           12      11
19           6            7      17
20          11           10       6
21          10           12      11
22           8           12       8
23          13           11      11
24          12           10      16
25           7           16      13
26          10            9      13
27          12           13       8
28           8           11      13
29          11            5      16
...        ...          ...     ...
2970        14           14      16
2971        15           16      12
2972        10           10      15
2973        15            9      14
2974        13           15      16
2975        16           13      17
2976        15           14      11
2977        11            7      10
2978        12           11      17
2979        17           15      16
2980        13            8      12
2981        15           12      14
2982        15            8       8
2983        10            8      17
2984        15           11      18
2985        16            9      10
2986        15           15      17
2987        14           16      17
2988        15           11      16
2989         9           16      13
2990        16           13       6
2991        17           11      17
2992        16           17      13
2993        15           13      15
2994        13           12      18
2995        13           16      11
2996        15            8       9
2997         9           11      12
2998        15           16      10
2999        10           18      12

[3000 rows x 3 columns]

In [8]:
#selecting rows 0 through 4
df[0:5]

#the above says, select all columns and then rows 0 through 5 (that's what the ":" does.  In fact, we don't even need it
#df[0:5] will do the exact same thing).  Notice how the syntax is not inclusive, such that python goes up to row 5, but does
#not include

#selecting rows 112 through 115 (non inclusive)
df[112:115]

#selecting rows 2995 until the end
df[2995:]

,RollType,strength,dexterity,constituion,intellegence,wisdom,charisma,str mod,dex mod,con mod,int mod,wis mod,char mod
2995,Colville,13,17,16,15,11,12,1,3,3,2,0,1
2996,Colville,15,15,8,14,9,10,2,2,-1,2,-1,0
2997,Colville,9,15,11,14,12,15,-1,2,0,2,1,2
2998,Colville,15,8,16,10,10,13,2,-1,3,0,0,1
2999,Colville,10,16,18,14,12,14,0,3,4,2,1,2

In [9]:
#so if we can select both the columns and the rows, we should be able to combine them to do them at the same time. 

#select dexterity column and row 250
df['dexterity'][250]

#select intellegence and wisdom from rows 2890 through 2895
df[ ['intellegence','wisdom'] ][2890:2895]

      intellegence  wisdom
2890             8      17
2891            18      11
2892             9      16
2893            11      16
2894            17       9

In [10]:
#But something I get confused on with bracket indexing is that the order doesn't matter.  For example both of the below return
#the same thing

#df[ ['intellegence','wisdom'] ][2890:2895]
df[2890:2895][ ['intellegence','wisdom'] ]

      intellegence  wisdom
2890             8      17
2891            18      11
2892             9      16
2893            11      16
2894            17       9

# .iloc and .loc indexing

So now that we are done with bracket indexing, let's look at integer based and label based indexing as well.

## .iloc

In [11]:
#return the first 5 rows (or where the index is 0-5 non inclusive)
df.iloc[0:5]

#return the first 5 columns
df.iloc[:,0:5]

#return rows 5 through 10 AND the first 3 columns
df.iloc[5:10, 5:8]

#in other words df.iloc [row start:row end(non inclusive) , column start:column end(non inclusive)]

   wisdom  charisma  str mod
5      16        15       -1
6       7        13       -1
7      17         7        0
8      11        11       -1
9      11         8       -2

# .loc

Unlike the interger based .iloc, the label based on the *names* of the row and column index.  Unfortunetly, this makes it a little confusing in this example because our row are named with integers.  So it will look similar to our iloc data

In [12]:
#select first 5 rows
df.loc[0:5]

#select all rows, first 5 columns by name
df.loc[:,"RollType":"intellegence"]

#so just like iloc, loc follows the same format but based on name, not interger
#df.loc [row_start:row_end,column_start:column_end]

      RollType  strength  dexterity  constituion  intellegence
0          3D6        14         15            9             7
1          3D6        13          7           15             8
2          3D6         8          4           11            12
3          3D6        10          8           12             8
4          3D6        11         11           12             9
5          3D6         8          8            5            10
6          3D6         9         10            5            12
7          3D6        10          5           16             4
8          3D6         8          7            6             6
9          3D6         7         11            8            10
10         3D6         8         12            9            10
11         3D6        13          9           11             3
12         3D6        11         10            9            14
13         3D6        12          7           11             8
14         3D6         7         10            9            12
15         3D6        10         15           14            17
16         3D6        11         16            8            12
17         3D6        17         10           12             9
18         3D6        10          6           12             8
19         3D6         6          8            7            12
20         3D6        11         14           10            15
21         3D6        10          8           12            10
22         3D6         8         13           12             8
23         3D6        13          8           11             8
24         3D6        12         13           10            11
25         3D6         7          7           16            11
26         3D6        10          5            9            12
27         3D6        12          6           13             9
28         3D6         8         16           11             7
29         3D6        11          6            5             7
...        ...       ...        ...          ...           ...
2970  Colville        14         14           14            11
2971  Colville        15          9           16            15
2972  Colville        10         10           10            11
2973  Colville        15         16            9            18
2974  Colville        13         12           15             8
2975  Colville        16         12           13             8
2976  Colville        15         15           14            14
2977  Colville        11         15            7            14
2978  Colville        12         11           11            15
2979  Colville        17         16           15            10
2980  Colville        13         15            8            15
2981  Colville        15         12           12             8
2982  Colville        15         15            8            15
2983  Colville        10         16            8            15
2984  Colville        15         12           11            11
2985  Colville        16         15            9            15
2986  Colville        15         11           15            13
2987  Colville        14         12           16            15
2988  Colville        15         12           11             8
2989  Colville         9         15           16             9
2990  Colville        16         16           13            16
2991  Colville        17         14           11            12
2992  Colville        16         11           17             6
2993  Colville        15         14           13             9
2994  Colville        13          9           12            14
2995  Colville        13         17           16            15
2996  Colville        15         15            8            14
2997  Colville         9         15           11            14
2998  Colville        15          8           16            10
2999  Colville        10         16           18            14

[3000 rows x 5 columns]

So now have different ways to index our data by using brackets, .iloc, and .loc methods.  But what if we want to look for data where specific conditions are true?  Then I would have to use boolean indexing.

In [13]:
#say I really want to play a strong monk character with high wisdom AND high dexterity.  
#Using conditional formatting, I can search for where both of those statements are true.  

#To do boolean indexing need to use either the brackets or .loc (because .loc is purely interger based, it won't work)

#Below returns a series saying where wisdom is true and false.  
df['wisdom'] >= 17

#We can then use the above to select our data frame for only where wisdom is greater than or equal to 17
df[df['wisdom'] >= 17] #Nice.  But now lets add the dexterity as well!

,RollType,strength,dexterity,constituion,intellegence,wisdom,charisma,str mod,dex mod,con mod,int mod,wis mod,char mod
7,3D6,10,5,16,4,17,7,0,-3,3,-3,3,-2
19,3D6,6,8,7,12,17,13,-2,-1,-2,1,3,1
37,3D6,12,12,7,6,17,15,1,1,-2,-2,3,2
141,3D6,8,10,4,6,17,6,-1,0,-3,-2,3,-2
213,3D6,13,12,9,8,17,9,1,1,-1,-1,3,-1
255,3D6,11,9,7,12,17,10,0,-1,-2,1,3,0
299,3D6,10,11,4,10,17,9,0,0,-3,0,3,-1
373,3D6,9,6,11,12,17,8,-1,-2,0,1,3,-1
377,3D6,14,14,6,7,17,9,2,2,-2,-2,3,-1
378,3D6,9,13,15,8,18,7,-1,1,2,-1,4,-2
395,3D6,6,11,16,14,17,14,-2,0,3,2,3,2
421,3D6,13,10,17,9,18,8,1,0,3,-1,4,-1
440,3D6,13,8,8,12,18,11,1,-1,-1,1,4,0
503,3D6,13,7,12,10,17,14,1,-2,1,0,3,2
512,3D6,14,11,9,13,17,11,2,0,-1,1,3,0
586,3D6,10,15,11,10,17,8,0,2,0,0,3,-1
595,3D6,13,13,12,9,17,14,1,1,1,-1,3,2
611,3D6,9,8,10,11,17,6,-1,-1,0,0,3,-2
723,3D6,6,8,11,10,17,3,-2,-1,0,0,3,-4
778,3D6,3,16,12,11,17,12,-4,3,1,0,3,1
878,3D6,4,11,8,10,17,12,-3,0,-1,0,3,1
930,3D6,12,11,12,8,18,14,1,0,1,-1,4,2
943,3D6,13,9,11,6,17,13,1,-1,0,-2,3,1
986,3D6,7,8,12,13,17,13,-2,-1,1,1,3,1
1001,4D6DropLow,13,17,11,12,18,12,1,3,0,1,4,1
1056,4D6DropLow,13,10,10,14,17,16,1,0,0,2,3,3
1078,4D6DropLow,18,15,12,12,17,12,4,2,1,1,3,1
1152,4D6DropLow,9,9,11,13,18,11,-1,-1,0,1,4,0
1163,4D6DropLow,10,11,15,16,17,18,0,0,2,3,3,4
1174,4D6DropLow,14,14,8,15,17,14,2,2,-1,2,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2770,Colville,11,12,16,15,18,13,0,1,3,2,4,1
2772,Colville,15,13,11,15,17,12,2,1,0,2,3,1
2779,Colville,11,16,18,6,17,14,0,3,4,-2,3,2
2789,Colville,14,15,15,13,17,12,2,2,2,1,3,1
2803,Colville,14,9,15,12,17,11,2,-1,2,1,3,0
2814,Colville,17,14,11,4,17,14,3,2,0,-3,3,2
2821,Colville,11,12,16,12,18,5,0,1,3,1,4,-3
2822,Colville,13,14,16,11,17,9,1,2,3,0,3,-1
2827,Colville,15,5,13,13,17,11,2,-3,1,1,3,0
2839,Colville,16,9,10,10,17,12,3,-1,0,0,3,1
2846,Colville,10,10,7,17,18,8,0,0,-2,3,4,-1
2859,Colville,14,5,14,15,17,16,2,-3,2,2,3,3
2866,Colville,10,11,11,16,18,10,0,0,0,3,4,0
2878,Colville,8,15,14,17,17,10,-1,2,2,3,3,0
2890,Colville,10,17,13,8,17,13,0,3,1,-1,3,1
2907,Colville,14,11,10,14,17,15,2,0,0,2,3,2
2919,Colville,11,15,17,13,17,9,0,2,3,1,3,-1
2921,Colville,9,6,12,9,18,16,-1,-2,1,-1,4,3
2925,Colville,14,15,18,17,17,8,2,2,4,3,3,-1
2929,Colville,17,8,10,13,18,7,3,-1,0,1,4,-2
2959,Colville,18,14,13,11,17,12,4,2,1,0,3,1
2967,Colville,11,11,12,18,17,11,0,0,1,4,3,0
2975,Colville,16,12,13,8,17,10,3,1,1,-1,3,0
2978,Colville,12,11,11,15,17,13,1,0,0,2,3,1
2983,Colville,10,16,8,15,17,15,0,3,-1,2,3,2
2984,Colville,15,12,11,11,18,14,2,1,0,0,4,2
2986,Colville,15,11,15,13,17,11,2,0,2,1,3,0
2987,Colville,14,12,16,15,17,13,2,1,3,2,3,1
2991,Colville,17,14,11,12,17,11,3,2,0,1,3,0
2994,Colville,13,9,12,14,18,17,1,-1,1,2,4,3

In [14]:
#returns a true/list series where wisdom and dexterity
(df['wisdom'] >= 17) & (df['dexterity'] >= 17)

#Great, now let's index our data frame by the above true/false series
df[(df['wisdom'] >= 17) & (df['dexterity'] >= 17)]

#Nice!

,RollType,strength,dexterity,constituion,intellegence,wisdom,charisma,str mod,dex mod,con mod,int mod,wis mod,char mod
1001,4D6DropLow,13,17,11,12,18,12,1,3,0,1,4,1
1415,4D6DropLow,9,18,11,16,18,15,-1,4,0,3,4,2
1598,4D6DropLow,16,18,8,10,17,13,3,4,-1,0,3,1
1631,4D6DropLow,15,18,18,13,17,12,2,4,4,1,3,1
1920,4D6DropLow,10,17,15,11,18,15,0,3,2,0,4,2
2098,Colville,11,17,11,14,17,15,0,3,0,2,3,2
2199,Colville,12,17,7,14,17,9,1,3,-2,2,3,-1
2201,Colville,15,17,14,16,17,7,2,3,2,3,3,-2
2613,Colville,15,17,9,13,17,17,2,3,-1,1,3,3
2677,Colville,8,17,9,13,17,13,-1,3,-1,1,3,1
2724,Colville,10,17,14,7,17,12,0,3,2,-2,3,1
2890,Colville,10,17,13,8,17,13,0,3,1,-1,3,1

In [20]:
#So that's conditional selection using brackets, now let's try conditional selection using iloc

#This time let's say you want to play an intellegent charismatic bard, but, you only want to use Matt Colville's method

#first let's create the true/false series 
(df['intellegence']>=17) & (df['charisma']>=17) & (df['RollType'] == "Colville")  #returns 187 rows

#then use loc to select what you are looking for
df.loc[(df['intellegence']>=17) & (df['charisma']>=17) & (df['RollType'] == "Colville")]

,RollType,strength,dexterity,constituion,intellegence,wisdom,charisma,str mod,dex mod,con mod,int mod,wis mod,char mod
2147,Colville,13,11,14,17,14,17,1,0,2,3,2,3
2370,Colville,15,17,12,17,15,17,2,3,1,3,2,3
2441,Colville,14,7,10,18,15,17,2,-2,0,4,2,3
2480,Colville,12,8,12,17,10,17,1,-1,1,3,0,3
2535,Colville,6,13,16,18,12,17,-2,1,3,4,1,3
2546,Colville,15,10,14,18,11,17,2,0,2,4,0,3
2738,Colville,14,14,11,18,9,17,2,2,0,4,-1,3
2926,Colville,14,14,13,18,16,17,2,2,1,4,3,3
2948,Colville,13,15,12,18,16,17,1,2,1,4,3,3

In [ ]:
#Now you have your choice of intellegent, charismatic bards using Matt Colville's method. 

#I will admit, little confused on why you would use loc over teh normal indexing.  I guess it might make sense if your
#data index was not numbers.  In this example, maybe you wanted to index everything by the characters name.  
#but I think for most of the data I think I'll work with, I'll be okay with the bracket method of indexing.  

#That being said, if there is a strong reason to use loc over normal bracket indexing please let me know in teh comments
#part of growing and becoming part of the community.  #Briefly looking it up on stack overflow
#suggested loc might useful in a few edge cases, but for the most part they would act the same.

So what did I did in my maiden voyage blog post.  

I,
* loaded my data into a dataframe using read_csv()
* performed quick checks using .head(), .tail(), and .sample()
* explored different types of indexing using brackets, .iloc, and .loc
* used boolean indexing to identify where the data met certain conditions 

So now that I have a foundation in exploring and indexing data, next time have to look at what the numbers say.  Plannign next post to explore some of the calculations (mean, standard dev, ect), decribe.  

But also do some visual exploratory analysis using matplotlib or maybe seaborn. 

Let me know if you have any feedback on any aspect of the blog post as I'm trying to improve both as a writer and as a data analyst.  I wouldn't be surprised if I am a little wrong on some of the technical details.